{% extends "web/informations/info_base.html" %}
{% block content %}
{% load static %}

        <section id="privacy-policy">
            <section class="wrapper">
                <div class="head">
                    <h2>Delivery Informations</h2>
                    <p class="p-i">
                        Onaiza.in is an online marketplace facilitation for the local merchants to selling their
                        products/services online. The delivery times/slots available above are to be used only as a
                        guideline and are subject to the acceptance and availability of the products ordered from the
                        respective vendors. For more info, please call +919947250260 or WhatsApp us at
                        +919947250260
                        <br><br>
                        If any orders contained Fresh Fish and delivery slot fall on Sunday, delivery will be subject to
                        availability of Fresh Fish and Meat from the central market and may be postponed to next day.
                        Current Lead Time for Order execution is 4 to 6 hours
                        Current Delivery Offset time is 5 hours (Minimum Time between the ordering and next delivery
                        slot availability)
                        <br><br>
                        4 pm is the Cut-off time of the order acceptance/slot availability for same delivery and later
                        received order’s delivery will be scheduled for next day.
                        <br><br>
                        We are doing home delivery all over INDIA. Buyer&#39;s shipping address, delivery location will be
                        verified with the database of Website before starting the delivery process. In the event Buyer&#39;s
                        order is not serviceable (such as inside of restricted industrial plants, military base, oil rigs,
                        access permit required area, etc.) by our logistic service providers or by Seller or the delivery
                        address is not located in an area that is covered under the order confirmation form, Buyer may
                        provide an alternate shipping address on which the Product can be delivered by the logistics
                        service provider or by the Seller.
                        <br><br>
                        No any minimum purchase value restrictions on Onaiza.in!!!
                        Furthermore, all orders above Rs.1000/- will be shipped for free. All other orders less than Rs.
                        1000/-, an amount of Rs:30/- will be charged for shipping (all across in Kerala)
                    </p>
                </div>

            </section>
        </section>
{% endblock %}