{% extends "web/web_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- editprofilr start -->
    <div id="EditProfile" class="OverLay specialWidth">
        <div class="main-container-side">
            <div class="proRate-name-div">
                <span class="side-popup-close" onclick="EditProfileOff()">
                    ×
                </span>
                <span class="mycart-name">
                    {% trans "Edit Profile" %}
                </span>
            </div>
            <form action="{{url}}" enctype="multipart/form-data" method="post">
              {% csrf_token %}
                <div class="UserProfileImage-Center">
                    <div class="profileImageArea">
                      {% if instance.image %}
                        <img src="{{ instance.image.thumbnail.50x50 }}" style="border-radius:50%; overflow:hidden;" alt="Profile">
                        {% else %}
                        <img src="{% static 'web/images/profile-image.png' %}" alt="Profile">
                        {% endif %}

                        <a href="#" class="editPrf">
                            <input type="file" id="myFile" name="image">
                            <img src="{% static 'web/images/icons/Icon material-edit.svg' %}">
                        </a>
                    </div>

                </div>
                <div class="ContactDetails-Row">
                    <Label>{% trans "Name" %}</Label>
                    {{form.name}}
                </div>
                <div class="ContactDetails-Row">
                  <Label>{% trans "Address" %}</Label>

                 {{form.address}}
              </div>
                <div class="ContactDetails-Row">
                    <Label>{% trans "Phone" %}</Label>

                   {{form.phone}}
                </div>
                <div class="ContactDetails-Row lastInput">
                    <Label>{% trans "Email" %}</Label>
                    {{form.email}}
                </div>
                <a href="" class="updateButton"><!-- input added nov 8 --><input type="submit">Update</a>
            </form>
        </div>
    </div>
<div class="main-container" id="profileSinglePage">

  <div class="profile-Main-Container">
    <div class="profileTittleMainRow">
      <div class="profileTittleMainSubRow">
        {% trans "Profile" %}
      </div>
    </div>

    <div class="profileDetailsMainRow">
      <div class="profileDetailsMainSubRow">


        <div class="UserDetailsRow-Left">
          <div class="UserDetailsSubRow-Left">

            <tbody>
            <table>
              <tr>
                <th class="main">{% trans "Name" %}</th>
                <th class="colon">:</th>
                <td>{{instance.name}}</td>
              </tr>
              <tr>
                <th class="main">{% trans "Address" %}</th>
                <th class="colon">:</th>
                <td>{{instance.address}}</td>
              </tr>
              <tr>
                <th class="main">{% trans "Phone" %}</th>
                <th class="colon">:</th>
                <td>+91 {{instance.phone}}</td>
              </tr>
              <tr>
                <th class="main">{% trans "Email" %}</th>
                <th class="colon">:</th>
                <td>{{instance.email|default:"Please Update Your Profile"}}</td>
              </tr>
              <tr>
                <th class="main">{% trans "Privilege Point" %}</th>
                <th class="colon">:</th>
                <td>{{instance.current_privilege_points}}</td>
              </tr>
<!--              <tr>-->
<!--                <th class="main">Birthday</th>-->
<!--                <th class="colon">:</th>-->
<!--                <td>12 may 1985</td>-->
<!--              </tr>-->
            </table>
            </tbody>
          </div>

        </div>
        <div class="rightprofile">
          <div class="UserProfileImage-Right">
              {% if instance.image %}
              <img src="{{ instance.image.thumbnail.100x100 }}" alt="Profile">
              {% else %}
              <img alt="Profile" src="{% static 'web/images/profile-image.png' %}">
              {% endif %}
          </div>
          <a href="#">
            {% trans "Edit Profile" %} <i class="zmdi zmdi-edit"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="buttonAreaRow">
    </div>
  </div>
  <div class="UserAddress-Main-Container">
    <div class="UserAddress-Main-SubContainer">

      <div class="UserAddressTittleMainRow">
        <div class="UserAddressTittleMainSubRow">
          {% trans "Address" %} 
        </div>
      </div>

      <div class="UserAddressDetailsMainRow">
        <div class="UserAddressDetailsSubRow">
          <!-- <p class="colorchange">Address</p>
          <p>:</p>
          <p>3147,Lower East Side, <br>Trving, Newyork,<br>699021 Home</p> -->
          <tbody>
          <table>
            <tr>
              <th class="main">{% trans "Address" %}</th>
              <th class="colon">:</th>
              <td>{{instance.address|default:"Please Update Your Profile"}}</td>
            </tr>
          </table>
          </tbody>
        </div>
      </div>
    </div>
  </div>
  
  <!-- time line -->
  <div class="container">

    <div class="timeline-block timeline-block-right active">
       <div class="marker"></div>
       <div class="timeline-content">
        <h3>First Year</h3>
        <span>Some work experience</span>
        
       </div>
    </div>
   
    <div class="timeline-block timeline-block-left">
       <div class="marker"><i class="" aria-hidden="true"></i></div>
       <div class="timeline-content">
        <h3>Seconed Year</h3>
        <span>Some work experience</span>
        
       </div>
    </div>
   
    <div class="timeline-block timeline-block-right active">
       <div class="marker"></div>
       <div class="timeline-content">
        <h3>Third Year</h3> 
        <span>Some work experience</span>
        
       </div>
    </div>
   
    <div class="timeline-block timeline-block-left">
       <div class="marker"><i class="" aria-hidden="true"></i></div>
       <div class="timeline-content">
        <h3>Fourth Year</h3>
        <span>Some work experience</span>
        
       </div>
    </div>
   
    <div class="timeline-block timeline-block-right">
       <div class="marker"><i class="" aria-hidden="true"></i></div>
       <div class="timeline-content">
        <h3>Fifth Year</h3>
        <span>Some work experience</span>
       
       </div>
    </div>
   </div>

   <style>
    .container {
 width: 100%;
 margin: 50px auto;
 position: relative;
 overflow: hidden;
}

.container:before {
 content: '';
 position: absolute;
 top: 0;
 left: 50%;
 margin-left: -1px;
 width: 2px;
 height: 100%;
 background: #CCD1D9;
 z-index: 1
}
.timeline-block:last-child{
margin-bottom: 0;
}
.timeline-block {
 width: -webkit-calc(50% + 8px);
 width: -moz-calc(50% + 8px);
 width: calc(50% + 8px);
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: flex;
 -webkit-box-pack: justify;
 -webkit-justify-content: space-between;
 -moz-box-pack: justify;
 justify-content: space-between;
 clear: both;
}

.timeline-block-right {
 float: right;
}

.timeline-block-left {
 float: left;
 direction: rtl
}

.marker {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 border: 2px solid #F5F7FA;
 background: #f5a641;
 margin-top: 0;
 z-index: 9999;
text-align:center;
    position: relative;
left:4px;
}

.active .marker{
width: 20px;
height: 20px;
background:#5bd040;
left: 4px;
}
.timeline-content {
    width: max-content;
    padding: 10px;
    color: #666;
    border: 1px dashed #f06e38;
    border-radius: 6px;
    margin-left: 18px;
}
.active .timeline-content{
    border: 1px dashed #5bd040;
}
i.fa.fa-check{
display:none;
}
i.fa.fa-check.active {
display:block !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
color:#fff;
}

.timeline-content h3 {
 margin-bottom: 5px;
 font-size: 17px;
 font-weight: 500
}

.timeline-content span {
 font-size: 15px;
 color: #a4a4a4;
}

.timeline-content p {
 font-size: 14px;
 line-height: 1.5em;
 word-spacing: 1px;
 color: #888;
}



 .container:before {
    left: 14px;
    width: 2px;
 }
 .timeline-block {
    width: 100%;
    margin-bottom: 30px;
	justify-content: flex-start;
 }
 .timeline-block-right {
    float: none;
 }

 .timeline-block-left {
    float: none;
    direction: ltr;
 }


   </style>

</div>

{% endblock content %}