{% extends 'base.html' %}
{% block content %}
{% load django_template_maths %}


<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">{{title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <h3 class="ah-label hidden-xs palette-White text">{{instance.sale_id}}</h3>

                <ul class="personal-info row">
                    <li class="col">
                        <a title="Print Sale A4" href="{% url 'sales:print_invoice' pk=instance.pk %}"
                            class="print-icon btn btn-sm btn-soft-success edit-icon">
                            <i class="fa  fa-print"></i>
                        </a>
                    </li>
                    <li class="col align-self-center">
                        <a class="btn btn-sm btn-soft-primary" href="{% url 'sales:create' %}" role="button">
                            <i class="fas fa-plus"></i>
                        </a>
                    </li>

                    {% if not instance.is_deleted %}
                    <li class="col align-self-center">
                        <a title="Edit Sale" href="{% url 'sales:edit' pk=instance.pk %}"
                        class="edit-icon btn btn-sm btn-soft-warning">
                            <i class="fa fa-pen"></i>
                        </a>
                    </li>

                    <li class="col align-self-center">
                        <a title="Cancel Sale" data-id="{{instance.pk}}"
                            data-text="Are you sure you want to cancel this Sale?" data-title="Are you sure?"
                            href="{% url 'sales:delete' pk=instance.pk %}"
                            class="action-button redirect delete-icon edit-icon btn btn-sm btn-soft-danger">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                    {% endif %}

                    <li class="col">
                        <a title="Print Sale" href="{% url 'sales:print_sale' pk=instance.pk %}"
                            class="print-icon btn btn-sm btn-soft-success edit-icon">
                            <i class="fa  fa-print"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="tab-content">
        <!-- Profile Info Tab -->
        <div id="c-grid" class="col-sm-8 clearfix" data-columns="2">
            <div class="card">
                <div class="card-header">
                    <h2>Sale Info <small></small></h2>
                </div>
                <div class="card-body">

                    <div class="list-group lg-alt c-overflow">
                        <div class="row">

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Customer</div>
                                    <a href="{% url 'customers:customer' instance.customer_id %}" class=" text-primary lgi-text">{{instance.customer|title}}</a>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Shipping Address </div>
                                    <small class="lgi-text">{{instance.customer_address|default:"-"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Date </div>
                                    <small class="lgi-text">{{instance.sale_date|date:"d/m/Y"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Shipment Date </div>
                                    <small class="lgi-text">{{instance.shipment_date|date:"d/m/Y"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Tracking No </div>
                                    <small class="lgi-text">{{instance.tracking_id}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Subtotal</div>
                                    <small class="lgi-text">{{instance.subtotal}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Discount Amount</div>
                                    <small class="lgi-text">{{instance.discount}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Round Off</div>
                                    <small class="lgi-text">{{instance.round_off}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Total</div>
                                    <small class="lgi-text">{{instance.total}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Paid</div>
                                    <small class="lgi-text">{{instance.paid}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                   <div class="lgi-heading">Creator </div>
                                   <small class="lgi-text">{{instance.creator}}</small>
                                </div>
                             </div>

                             <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                   <div class="lgi-heading">Updater </div>
                                   <small class="lgi-text">{{instance.updater}}</small>
                                </div>
                             </div>

                             <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                   <div class="lgi-heading">Date Created </div>
                                   <small class="lgi-text">{{instance.date_added|date:"d/m/Y h:i A"}}</small>
                                </div>
                             </div>

                             <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                   <div class="lgi-heading">Date Updated </div>
                                   <small class="lgi-text">{{instance.date_updated|date:"d/m/Y h:i A"}}</small>
                                </div>
                             </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
        </div>

        <!-- /Profile Info Tab -->
        {% if sale_items %}
        <div class="card">
            <div class="card-header">
                <h2>Sale Items</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Product Variant</th>
                                <th>Batch Number</th>
                                <!-- <th>HSN Code</th> -->
                                <th>Quantity</th>
                                <th>MRP</th>
                                <th>Rate</th>
                                <th>Net Rate</th>
                                <!-- <th>Discount(%)</th> -->
                                <th>IGST</th>
                                <th>IGST Amount</th>
                                <th>SGST</th>
                                <th>SGST Amount</th>
                                <th>CGST</th>
                                <th>CGST Amount</th>

                                <th>Gross Amount</th>
                                <th>Discount Amount</th>
                                <th>total</th>

                                <th>Sale Taxable Amount</th>
                                <th>Purchase Taxable Amount</th>
                                <th>Profit</th>
                                <th>Profit (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in sale_items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <!-- <td>{{i.product}}</td>-->
                                <td>{{i.product_variant}}</td>
                                <td>{{i.batch}}</td>
                                <!-- <td>{{i.hsn}}</td> -->
                                <td>{{i.quantity}}</td>

                                {% if i.mrp > 0 %}
                                <td>{{i.mrp}}</td>
                                {% else %}
                                <td>{% if i.batch %}{{i.batch.mrp}}{% elif i.product_variant
                                    %}{{i.product_variant.mrp}}{% else %} {{i.product.mrp}}{% endif %}</td>
                                {% endif %}

                                <td>{{i.net_rate|div:i.quantity|add_decimal:2}}</td>
                                <!-- <th>{{i.discount_rate}}</th> -->
                                <td>{{i.net_rate}}</td>
                                <td>{{i.product_variant.product.hsn.igst_rate}}%</td>
                                <td>{{i.igst}}</td>
                                <td>{{i.product_variant.product.hsn.sgst_rate}}%</td>
                                <td>{{i.sgst}}</td>
                                <td>{{i.product_variant.product.hsn.cgst_rate}}%</td>
                                <td>{{i.cgst}}</td>

                                {% if i.mrp > 0 %}
                                <th>{{ i.mrp|mul:i.quantity|floatformat:2 }}</th>
                                <th>{{ i.discount }}</th>
                                {% else %}

                                <th>{% if i.batch %}
                                    {{i.batch.mrp|mul:i.quantity|add_decimal:2}}
                                    {% elif i.product_variant %}
                                    {{i.product_variant.mrp|mul:i.quantity|add_decimal:2}}
                                    {% else %}
                                    {{i.product.mrp|mul:i.quantity|add_decimal:2}}
                                    {% endif %}
                                </th>

                                <th>{% if i.batch %}
                                    {{i.batch.mrp|mul:i.quantity|sub:i.total|add_decimal:2}}
                                    {% elif i.product_variant %}
                                    {{i.product_variant.mrp|mul:i.quantity|sub:i.total|add_decimal:2}}
                                    {% else %}
                                    {{i.product.mrp|mul:i.quantity|sub:i.total|add_decimal:2}}
                                    {% endif %}
                                </th>
                                {% endif %}

                                <th>{{i.total}}</th>
                                <th>{{ i.s_taxable|floatformat:2 }}</th>
                                <th>{{ i.p_taxable|floatformat:2 }}</th>
                                <th class="{% if i.profit < 0 %}text-danger{% endif %}">{{ i.profit|floatformat:2 }}
                                </th>
                                <th class="{% if i.profit_percentage < 0 %}text-danger{% endif %}">
                                    {{i.profit_percentage|floatformat:2 }} %</th>

                                <!-- <th class="text-danger">{{
                                    i.profit_percentage }} %</th> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- <div id="emp_profile" class="pro-overview tab-pane fade show active">
                <div class="row">

                </div>
            </div> -->

    </div>
</div>
<!-- /Page Content -->

{% endblock %}