{% extends 'base.html' %}
{% block content %}

<!-- Page Wrapper -->
<div class="page-wrapper">

    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">{{title|title}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{{title|title}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->



        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <form action="{{url}}" method="post" class="ajax redirect">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.date.id_for_label }}">
                                            {{ form.date.label }}

                                            {% if form.date.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                        </label>
                                        {{ form.date }}
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.vendor.id_for_label }}">
                                            {{ form.vendor.label }}

                                            {% if form.vendor.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                        </label>
                                        {{ form.vendor }}
                                    </div>
                                    <p id="modal_button"><a href="##">Create new Vendor</a> </p>
                                </div>
                            </div>
                            <div class="card sale-item-card">
                                <div class="table-responsive card-body add_item_container purchase_item_formset">
                                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th data-column-id="barcode">Product code</th>
                                                <th data-column-id="product">Product</th>
                                                <th data-column-id="product">Product Variant</th>
                                                <th data-column-id="product">Batch</th>
                                                <th data-column-id="qty">Available stock</th>
                                                <th data-column-id="qty" style="display: none;">HSN</th>
                                                <th data-column-id="qty">QTY</th>
                                                <th data-column-id="category">Cost</th>
                                                <th data-column-id="category">Price</th>
                                                <th data-column-id="category">Mrp</th>

                                                <th data-column-id="category">Expiry Date</th>
                                                <th data-column-id="category">Rate</th>
                                                <th data-column-id="category">Net Rate</th>
                                                <th data-column-id="category">Discount(%)</th>
                                                <th data-column-id="category">Discount Amount</th>
                                                <th data-column-id="tax_amount">Taxable Amount</th>
                                                <!-- <th data-column-id="category">Gross Amount</th> -->
                                                <!-- <th data-column-id="category">Unit type</th> -->
                                                <th data-column-id="cgst_p">CGST(%)</th>
                                                <th data-column-id="cgst">CGST</th>
                                                <th data-column-id="sgst_p">SGST(%)</th>
                                                <th data-column-id="sgst">SGST</th>
                                                <th data-column-id="sgst_p">CESS(%)</th>
                                                <th data-column-id="sgst">CESS</th>
                                                <!-- <th data-column-id="igst">IGST</th> -->

                                                <!-- <th data-column-id="tax_amount">Cess Amount</th> -->
                                                <th data-column-id="subcategory">Total Amount</th>
                                                <th class="one"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in purchase_item_formset.forms %}
                                            <tr class="form_set_row">

                                                <td>
                                                    <span class="purchase_item_barcode p-relative">
                                                        <input type="text" name="barcode" class="form-control">
                                                    </span>
                                                </td>
                                                <td>
                                                    {{ item.id }}
                                                    <span class="product_price">
                                                        {{ item.product }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="product_variant">
                                                        {{ item.product_variant }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="product_batch">
                                                        {{ item.batch_number }}
                                                    </span>
                                                </td>
                                                <td class="current_stock">
                                                    <span class="current_stock check_empty p-relative">
                                                        <input type="text" class="form-control" disabled
                                                            style="width:2.5cm" value="" />
                                                    </span>
                                                </td>
                                                <td class="product_hsn" style="display: none;">
                                                    <span class="product_hsn">
                                                        {{ item.hsn }}
                                                    </span>
                                                </td>
                                                <td class="purchase_quantity">
                                                    <span class="order_request_qty">
                                                        {{ item.quantity }}
                                                    </span>
                                                </td>
                                                <td>
                                                    {{item.cost}}
                                                </td>
                                                <td>
                                                    {{item.price}}
                                                </td>
                                                <td>
                                                    {{item.mrp}}
                                                </td>
                                                <td>
                                                    {{item.expire_date}}
                                                </td>
                                                <td class="purchase_amount_price">
                                                    {% if is_edit != true %}
                                                    <span class="purchase_amount">
                                                        {{ item.amount }}
                                                    </span>
                                                    {% else %}
                                                    <span class="purchase_amount">
                                                        {{ item.amount }}
                                                    </span>
                                                    {% endif %}
                                                </td>
                                                <td class="net_rate">
                                                    {% if is_edit != true %}
                                                    <span class="net_rate">
                                                        {{ item.net_rate }}
                                                    </span>
                                                    {% else %}
                                                    <span class="net_rate">
                                                        {{ item.net_rate }}
                                                    </span>
                                                    {% endif %}
                                                </td>
                                                <td class="discount_amound">
                                                    <span class="discount_amound">
                                                        {{ item.discount }}
                                                    </span>
                                                </td>
                                                <td class="discount_amound_new">
                                                    <span class="discount_amound_new">
                                                        <input type="text" class="form-control" value="" />
                                                    </span>
                                                </td>
                                                <td class="total_tax_amount">
                                                    <span class="total_tax_amount">
                                                        {{ item.tax_amount }}
                                                    </span>
                                                </td>
                                                <!-- <td class="gross_amount_price">
                                                    {% if is_edit != true %}
                                                    <span class="gross_amount">
                                                        {{ item.gross_amount }}
                                                    </span>
                                                    {% else %}
                                                    <span class="gross_amount">
                                                        {{ item.gross_amount }}
                                                    </span>
                                                    {% endif %}
                                                </td> -->


                                                <!-- {% if item.unit_type %}
                                                    <td class="purchase_quantity">
                                                        {{ item.unit_type }}
                                                    </td>
                                                    {% else %}
                                                    <td class="purchase_quantity">
                                                        <span class="unit_type">
                                                            {{ item.unit_type }}
                                                        </span>
                                                    </td>
                                                    {% endif %} -->
                                                <td class="tax" style="display: none;">
                                                    <span class="tax" style="display: none;">
                                                        {{ item.tax }}
                                                    </span>
                                                </td>
                                                <td class="cgst">
                                                    <span class="cgst">
                                                        <input type="text" class="form-control" disabled value="" />
                                                    </span>
                                                </td>
                                                <td class="cgst_amount">
                                                    <span class="cgst_amount">
                                                        {{ item.cgst_amount }}
                                                    </span>
                                                </td>
                                                <td class="sgst">
                                                    <span class="sgst">
                                                        <input type="text" class="form-control" disabled value="" />
                                                    </span>
                                                </td>
                                                <td class="sgst_amount">
                                                    <span class="sgst_amount">
                                                        {{ item.sgst_amount }}
                                                    </span>
                                                </td>
                                                <td class="cess">
                                                    <span class="cess">
                                                        <input type="text" class="form-control" disabled value="" />
                                                    </span>
                                                </td>
                                                <td class="cess_amount">
                                                    <span class="cess_amount">
                                                        {{ item.cess_amount }}
                                                    </span>
                                                </td>

                                                <td class="purchase_item_total">
                                                    <!-- {{item.total}} -->
                                                    {% if is_edit %}
                                                    <span class="purchase_item_total check_empty p-relative">
                                                        {{item.total}}
                                                    </span>
                                                    {% else %}
                                                    <span class="purchase_item_total check_empty p-relative">
                                                        {{item.total}}
                                                    </span>
                                                    {% endif %}
                                                </td>
                                                <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ purchase_item_formset.management_form }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">



                                    <div class="form-group">
                                        <label for="{{ form.product_total.id_for_label }}">
                                            {{ form.product_total.label }}

                                            {% if form.product_total.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                        </label>
                                        {{ form.product_total }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.discount.id_for_label }}">
                                            {{ form.discount.label }}

                                            {% if form.discount.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                        </label>
                                        {{ form.discount }}
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Total</label>
                                            {{form.subtotal}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.paid.id_for_label }}">
                                            {{ form.paid.label }}

                                            {% if form.paid.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                        </label>
                                        {{ form.paid }}
                                    </div>

                                    <!-- <div class="form-group fg-line col-sm-3" id="add_gst" style="margin-top: 15px;">
                                        <label for="{{ form.add_gst.id_for_label }}">
                                            {{ form.add_gst.label }}
                                            {% if form.add_gst.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                            {% if form.add_gst.help_text %}
                                            <span data-original-title="Field Info" title=""
                                                data-content="{{ form.add_gst.help_text }}" data-placement="left"
                                                data-toggle="popover" data-trigger="hover"
                                                class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                        </label>
                                        {{ form.add_gst }}
                                        {% if form.add_gst.errors %}
                                        <label class="error">{{ form.add_gst.errors.as_text }}</label>
                                        {% endif %}
                                    </div> -->

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fg-line" id="round_off">
                                        <label for="{{ form.round_off.id_for_label }}">
                                            {{ form.round_off.label }}
                                            {% if form.round_off.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                            {% if form.round_off.help_text %}
                                            <span data-original-title="Field Info" title=""
                                                data-content="{{ form.round_off.help_text }}" data-placement="left"
                                                data-toggle="popover" data-trigger="hover"
                                                class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                        </label>
                                        {{ form.round_off }}
                                        {% if form.round_off.errors %}
                                        <label class="error">{{ form.round_off.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.balance.id_for_label }}">
                                            {{ form.balance.label }}

                                            {% if form.balance.field.required %}
                                            <small class="star text-danger">*</small>
                                            {% endif %}
                                        </label>
                                        {{form.balance}}
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <section id="modal">
        <div class="cancel">
            <span class="cancel anticon icon-close"></span>
        </div>
        <div class="form card">
            <form class="address-form ajax reset form" method="post" action="{% url 'vendors:add_new_vendor' %}">
                {% csrf_token %}
                <h3>Enter the details</h3>
                <ul class="form-list">
                    <li class="form-list__row">
                        <label for="id_amount">Vendor</label>
                        {{ vendor_form.name }}
                    </li>
                    <li class="form-list__row">
                        <label for="id_charge">Address</label>
                        {{ vendor_form.address }}
                    </li>

                    <li class="form-list__row">
                        <label for="id_final">Phone</label>
                        {{ vendor_form.phone }}
                    </li>
                    <li class="form-list__row">
                        <label for="id_final">Email</label>
                        {{ vendor_form.email }}
                    </li>
                    <li class="form-list__row" style="margin-top: 10px;">
                        <label for="id_final">State</label>
                        {{ vendor_form.state }}
                    </li>
                    <li class="form-list__row" style="margin-top: 10px;">
                        <label for="id_final">Opening Credit</label>
                        {{ vendor_form.opening_credit }}
                    </li>
                    <li class="form-list__row" style="margin-top: 10px;">
                        <label for="id_final">Opening Debit</label>
                        {{ vendor_form.opening_debit }}
                    </li>
                    <li class="place-order">
                        <div>
                            <button type=" submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                        <div class="place-order-link">
                            <buttom type='button' class="button cancel">Cancel</buttom>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </section>
</div>
<!-- /Page Wrapper -->

{% endblock %}
{% block static %}
{% load static %}

<style>
    #modal {
        position: absolute;
        width: 100%;
        top: 10px;
        left: -130px;
        height: max-content;
    }

    #modal>div.card {
        width: 60%;
        padding: 30px 50px;
        margin: 0 auto;
    }

    #modal div.card li.place-order {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    #modal div.card li.place-order div.place-order-link .cancel {
        background-color: #F69746;
        border: 1px solid #F69746;
        color: #fff;
        border-radius: 5px;
        padding: .375rem .75rem;
    }

    tr.form_set_row td input {
        min-width: 70px;
    }
</style>

<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('input[type=text]').focus(function () {
            $(this).select();
        });

        $("#modal_button").on("click", function (event) {
            event.stopPropagation();
            event.preventDefault();
            $("#overlay_page").css("display", "block");
            $("section#modal").animate({ top: "10%" });
        });

        $(document).on('keypress', 'tr.form_set_row .purchase_item_barcode input', function (event) {
            if (event.which == '10' || event.which == '13') {
                event.preventDefault();
                $selector = $(this);

                get_product_items($selector, true);
            }
        })


        function modalHight() {
            let modal_hei = $("section#modal").outerHeight(true);
            modal_hei = 0 - modal_hei - 10;
            $("section#modal").css("top", modal_hei);
            $("#overlay_page").css("display", "none");
        }
        modalHight();
        $('#modal .cancel').click(function () {
            modalHight()
        })

        $(document).ready(function () {
            $('input[type=text]').focus(function () {
                $(this).select();

            });

            $('.purchase_quantity input').each(function () {
                let value = $(this).val()
                if (value <= 0) {
                    $(this).val(1)
                }
                else {
                    value = $(this).val(value)
                }
            })

            $(document).on('click', '.edit-address', function (e) {
                e.preventDefault();
                id = $(this).attr('data-value');
                getAddress(id);
            });
            $(document).on('click', 'section#model .cancel', function () {
                modalHight();
            });

            $(document).on('click', "#modal_button", function (event) {
                // event.stopPropagation();
                // event.preventDefault();
                $("section#model").animate({ top: "20%" });
            }
            );





        });

        $('.purchase_item_formset table tr.form_set_row').formset({
            prefix: '{{ purchase_item_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            'added': function (row) {
                row.find('.product_price select').selectpicker();
                row.find('.product_variant select').selectpicker();
            },
            'removed': function (row) {
                amount_calculation()
            }
        });
    });


    function amount_calculation() {
        var all_total = 0;
        var paid = 0;
        var discount = 0;
        $('.form_set_row').each(function () {
            var tot = parseFloat($(this).find('.purchase_item_total input').val());
            if (!tot) {
                tot = 0;
            }
            all_total += tot;

            var additional_amount = parseFloat($('#id_other_charge').val());

            if (!additional_amount) {
                additional_amount = 0;
            }

            var all_amount = parseFloat(all_total + additional_amount);
            all_total = Math.round(all_total * 100) / 100;
            all_amount = Math.round(all_amount * 100) / 100;
            tot = Math.round(tot * 100) / 100;
            $("#id_product_total").val(all_total);
            $("#subtotal").val(all_amount);
            $("#single_amount").val(tot);

            // var discount = $('#id_discount').val()
            // if (!discount) {
            //     discount = 0;
            // }
            var discount_rate = $('#id_discount').val()

            var round_off = parseFloat($('#id_round_off').val());
            if (!round_off) {
                round_off = 0;
            }


            if (!discount_rate) {
                discount_rate = 0;
            }

            discount = all_total * discount_rate / 100;

            var paid = $('#id_paid').val()
            if (!paid) {
                paid = 0;
            }
            var actual_amount = parseFloat(all_amount - discount);
            var all_amount_sub_total = parseFloat(actual_amount - paid);
            var all_sub_total = parseFloat(all_amount_sub_total);
            if (all_sub_total < 0) {
                all_sub_total = 0;
            }
            actual_amount = Math.round(actual_amount * 100) / 100;
            all_sub_total = Math.round(all_sub_total * 100) / 100;
            $("#subtotal").val(actual_amount - round_off);

            $("#balance").val(all_sub_total);

        });
    }

    $(document).on('change keyup', '.product_price select, .purchase_quantity input,.discount_amound_new input, .purchase_amount input, #id_paid, #id_discount , #id_other_charge,.discount_amound,#id_round_off', function (event) {
        var $this = $(this);
        var parent = $this.parents('tr.form_set_row');
        var purchase_quantity = parseFloat(parent.find('.purchase_quantity input').val());

        if (!purchase_quantity) {
            purchase_quantity = 0
        }

        var purchase_amount = 0;
        purchase_amount = parseFloat(parent.find('.purchase_amount input').val());

        if (!purchase_amount) {
            purchase_amount = 0
        }
        subtotal = purchase_quantity * purchase_amount;

        var sgst = parent.find('.sgst input').val();
        var cgst = parent.find('.cgst input').val();
        var cess = parent.find('.cess input').val();
        var tax = parseFloat(sgst) + parseFloat(cgst) + parseFloat(cess)
        var tax_amount = parent.find('.tax_amount input').val();
        // amount_calculation();
        var discount_rate = parseFloat(parent.find('.discount_amound input').val());
        if (!discount_rate) {

            discount_rate = 0;
        }

        var discount_rate_new = parseFloat(parent.find('.discount_amound_new input').val());
        if (!discount_rate_new) {
            discount_rate_new = 0;
        }

        if ($this.parents('td').hasClass('discount_amound_new')) {
            discount_rate = (discount_rate_new * 100) / (purchase_amount * purchase_quantity)
            parent.find('.discount_amound input').val(discount_rate)
        }

        var single_discount = 0;
        var discount = 0;
        single_discount = (purchase_amount * discount_rate / 100);
        discount = (parseFloat(purchase_amount * discount_rate / 100)) * purchase_quantity;

        if (!discount) {
            discount = 0;
        }

        if ($this.parents('td').hasClass('discount_amound')) {

            parent.find('.discount_amound_new input').val(discount)
        }

        var single_tax_amount = 0;
        var net_rate_amount = 0;
        var net_rate = 0;
        single_tax_amount = parseFloat(purchase_amount * tax / 100);
        net_rate = parseFloat(purchase_amount + single_tax_amount) * purchase_quantity;
        if (single_discount == 0) {
            net_rate_amount = net_rate;
        } else {
            net_rate_amount = parseFloat(net_rate - single_discount);
        }

        if ($('#add_gst #id_add_gst').is(':checked')) {
            tax_amount_cgst = (subtotal * cgst / 100);
            tax_amount_sgst = (subtotal * sgst / 100);
            tax_amount_cess = (subtotal * cess / 100);


            if ($this.parents('td').hasClass('discount_amound')) {

                tot_amt = parseFloat(parent.find('.purchase_quantity input').val())
                subtotal = tot_amt - tax_amount_cgst - tax_amount_sgst - tax_amount_cess
                parent.find('.net_rate input').val(subtotal)

            }
            tot_amt = subtotal + tax_amount_cgst + tax_amount_sgst + tax_amount_cess
            total_amount = parseFloat(tot_amt - discount);

            tax_amount_cgst = Math.round(tax_amount_cgst * 100) / 100;
            tax_amount_sgst = Math.round(tax_amount_sgst * 100) / 100;
            tax_amount_cess = Math.round(tax_amount_cess * 100) / 100;
            cgst = Math.round(cgst * 100) / 100;
            sgst = Math.round(sgst * 100) / 100;
            cess = Math.round(cess * 100) / 100;
            net_rate_amount = Math.round(net_rate_amount * 100) / 100;
            subtotal = Math.round(subtotal * 100) / 100;
            total_amount = Math.round(total_amount * 100) / 100;

            parent.find('.purchase_item_total input').val(total_amount);
            parent.find('.cgst_amount input').val(tax_amount_cgst);
            parent.find('.sgst_amount input').val(tax_amount_sgst);
            parent.find('.cess_amount input').val(tax_amount_cess);


            taxable_amount = subtotal - discount

            parent.find('.total_tax_amount input').val(taxable_amount);
            parent.find('.net_rate input').val(subtotal)
            parent.find('.gross_amount input').val(subtotal)
            // calculate()
        } else {
            tax_amount = 0;
            total_amount = parseFloat((subtotal + tax_amount) - discount);
            total_amount = Math.round(total_amount * 100) / 100;
            net_rate_amount = Math.round(net_rate_amount * 100) / 100;
            subtotal = Math.round(subtotal * 100) / 100;
            total_amount = Math.round(total_amount * 100) / 100;


            parent.find('.purchase_item_total input').val(total_amount);
            parent.find('.tax_amount input').val(tax_amount);
            parent.find('.net_rate input').val(subtotal)
            parent.find('.gross_amount input').val(subtotal)
        }
        amount_calculation();
    });

    $(document).on('change keyup', '.purchase_item_total input', function () {
        var $this = $(this);
        var parent = $this.parents('tr.form_set_row');

        var total1 = parseFloat(parent.find('.purchase_item_total input').val());
        total1 ? total1 : total1 = 0
        var discount_rate_new1 = parseFloat(parent.find('.discount_amound_new input').val());
        discount_rate_new1 ? discount_rate_new1 : discount_rate_new1 = 0
        var cgst_amount1 = parseFloat(parent.find('.cgst_amount input').val());
        cess_amount1 ? cess_amount1 : cess_amount1 = 0
        var sgst_amount1 = parseFloat(parent.find('.sgst_amount input').val());
        sgst_amount1 ? sgst_amount1 : sgst_amount1 = 0
        var cess_amount1 = parseFloat(parent.find('.cess_amount input').val());
        cess_amount1 ? cess_amount1 : cess_amount1 = 0


        tax_amount1 = total1 - cess_amount1 - sgst_amount1 - cgst_amount1 + discount_rate_new1

        parent.find('.total_tax_amount input').val(tax_amount1);
        amount_calculation();
    })

    function calculate(check) {
        let total_amount = 0;

        $('.purchase_item_formset table tr.form_set_row').each(function () {
            $this = $(this);
            var price = parseFloat($this.find('.purchase_amount_price input').val());
            if (!price) {
                price = 0
            }
            var qty = parseFloat($this.find('.purchase_quantity input').val());
            if (!qty) {
                qty = 0
            }
            var tax = parseFloat($this.find('.tax input').val());
            if (!tax) {
                tax = 0
            }
            var discount_rate = parseFloat($this.find('.discount_amound input').val());
            if (!discount_rate) {
                discount_rate = 0;
            }

            var subtotal = 0;
            var discount = 0;
            subtotal = parseFloat(price * qty);
            discount = parseFloat(subtotal * discount_rate / 100);

            taxable_amount = subtotal - discount

            if (!discount) {
                discount = 0;
            }
            var tot_amt = 0
            tot_amt = parseFloat(subtotal - discount);
            var single_total = 0;
            if (check == true) {


                var sgst = parseFloat($this.find('.sgst input').val());
                var cgst = parseFloat($this.find('.cgst input').val());
                var cess = parseFloat($this.find('.cess input').val());

                tax_amount = parseFloat((subtotal * (cgst + sgst + cess)) / 100);
                single_total = parseFloat(tot_amt + tax_amount);
                total_amount += single_total;
                var igst = parseFloat((subtotal * (cgst + sgst)) / 100);

                console.log(subtotal, '1');


                var cgst = subtotal * cgst / 100;
                var sgst = subtotal * sgst / 100;
                var cess = subtotal * cess / 100;

                cgst = Math.round(cgst * 100) / 100;
                sgst = Math.round(sgst * 100) / 100;
                igst = Math.round(igst * 100) / 100;

                tax_amount = Math.round(tax_amount * 100) / 100;
                single_total = Math.round(single_total * 100) / 100;

                $this.find('.cgst_amount input').val(cgst)
                $this.find('.sgst_amount input').val(sgst)
                $this.find('.cess_amount input').val(cess)
                $this.find('.gross_amount input').val(subtotal)
                $this.find('.igst_amount input').val(igst)
                $this.find('.total_tax_amount input').val(taxable_amount)
                $this.find('.purchase_item_total input').val(single_total)
            } else {
                single_total = tot_amt
                total_amount += single_total
                single_total = Math.round(single_total * 100) / 100;
                total_amount = Math.round(total_amount * 100) / 100;

                $this.find('.cgst_amount input').val(0)
                $this.find('.sgst_amount input').val(0)
                $this.find('.cess_amount input').val(0)
                $this.find('.gross_amount input').val(subtotal)
                $this.find('.total_tax_amount input').val(taxable_amount)
                $this.find('.purchase_item_total input').val(single_total)
            }
        });
        // var dis_amount = parseFloat($('#id_paid').val());
        // total_amount = total_amount;
        // $("#subtotal").val(subtotal);

        $("#subtotal").val(total_amount);
        // paid_amount = $("#id_paid").val();
        $("#balance").val(total_amount);

    }


    $('#id_add_gst').change(function () {
        if ($('#id_add_gst').is(':checked')) {
            calculate(true);
        } else {
            calculate(false)
        }
    })



    $('.product_price select').on('change keyup', function () {
        $this = $(this);
        get_purchase_items($this);

    });

    // function calculate() {
    //     var total_amount = 0;
    //     $('.purchase_item_formset table tr.form_set_row').each(function () {
    //         $this = $(this);
    //         var subtotal = parseFloat($this.find('.purchase_item_subtotal input').val());
    //         var tax = parseFloat($this.find('.tax input').val());
    //         var tax_amount = parseFloat($this.find('.tax_amount input').val());
    //         if (!subtotal) {
    //             subtotal = 0;
    //         }
    //         if (!tax) {
    //             tax = 0;
    //         }
    //         if (!tax_amount) {
    //             tax_amount = 0;
    //         }
    //         tax_amount = (subtotal * tax) / 100
    //         total_amount += (subtotal + tax_amount);

    //     });
    //     var dis_amount = parseFloat($('#id_paid').val());
    //     total_amount = total_amount;
    // }

    function get_purchase_items(element) {
        var url = "{% url 'purchases:get_purchase_items' %}"
        var product_id = element.val();
        var $parent = element.parents('tr.form_set_row');
        if (product_id != undefined || product_id != null || product_id != "") {
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id: product_id,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == 'true') {
                        var price = data['price'];
                        print("prvilage card")

                        $parent.find(".purchase_amount input").val(price);

                    }
                },
                error: function (data) {

                }
            })
        }
    }
</script>
<script>
    $('.product_price select').on('change keyup', function () {
        $this = $(this);
        get_product_items($this);

    });

    $('.product_variant select').on('change keyup', function () {
        $this = $(this);
        get_product_variant_items($this);

    });

    function get_product_items(element, barcode = false) {
        var url = "{% url 'sales:get_product_items' %}"
        var product_id = element.val();

        var $parent = element.parents('tr.form_set_row');

        if (product_id != undefined || product_id != null || product_id != "") {
            var code = "no";
            if (barcode) {
                code = "yes";
            }
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id: product_id,
                    barcode: code,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == 'true') {
                        // var price = data['price'];
                        // var mrp = data['mrp'];
                        // var hsn = data['hsn'];
                        var gst = data['gst'];
                        var sgst = data['sgst'];
                        var cgst = data['cgst'];
                        var cess = data['cess'];
                        var cost = data['cost'];
                        var unit = data['unit'];
                        var hsn = data['hsn'];
                        var unit_type = data['unit'];
                        var pk = data['pk'];
                        var current_stock = data['stock'];
                        var varience = data['varience'];
                        var current_varient = data['current_varient'];
                        var varient_barcode = data['varient_barcode'];
                        var product_code = data['product_code'];

                        // var options = '<option value="" selected="">---------</option>',
                        // var options = `<option value="${pk}" selected=""> ${unit_type} </option>`,
                        var options = '<option value="" selected="">' + unit_type + '</option>',
                            i, maxlength = varience.length;

                        i, maxlength = varience.length;

                        for (i = 0; i < maxlength; i++) { options += `<option value="${varience[i]['varience_pk']}">${varience[i]['varience_name']}</<option>` }

                        $parent.find(".product_variant select").html(options).selectpicker('refresh');
                        $parent.find(".product_variant ").find('div.filter-option-inner-inner').html(unit_type);

                        $parent.find(".purchase_amount input").val(cost);
                        $parent.find(".current_stock input").val(current_stock);
                        $parent.find(".tax input").val(gst);
                        $parent.find(".sgst input").val(sgst);
                        $parent.find(".cgst input").val(cgst);
                        $parent.find(".cess input").val(cess);
                        $parent.find(".unit_type input").val(unit);
                        $parent.find(".product_hsn input").val(hsn);

                        // if (varient_barcode) {
                        //     $parent.find(".product_variant select").val(current_varient).selectpicker('refresh');
                        // }
                        // calculate()

                        var purchase_quantity = parseFloat($parent.find('.purchase_quantity input').val());
                        if (!purchase_quantity) {
                            purchase_quantity = 0
                        }

                        var purchase_amount = parseFloat(cost);
                        if (!purchase_amount) {
                            purchase_amount = 0
                        }
                        subtotal = purchase_quantity * purchase_amount;
                        cgst = parseFloat(cgst)
                        sgst = parseFloat(sgst)
                        cess = parseFloat(cess)

                        var tax = parseFloat(sgst) + parseFloat(cgst) + parseFloat(cess);
                        var tax_amount = parseFloat($parent.find('.tax_amount input').val());
                        if (!tax) {
                            tax = 0;
                        }
                        if (!tax_amount) {
                            tax_amount = 0;
                        }
                        tax_amount = (subtotal * tax / 100);
                        tax_amount_sgst = (subtotal * sgst / 100);
                        tax_amount_cgst = (subtotal * cgst / 100);
                        tax_amount_cess = (subtotal * cess / 100);


                        console.log(subtotal);
                        total_amount = (subtotal + tax_amount_sgst + tax_amount_cgst + tax_amount_cess);
                        $parent.find('.purchase_item_total input').val(total_amount);
                        $parent.find('.cgst_amount input').val(tax_amount_cgst);
                        $parent.find('.sgst_amount input').val(tax_amount_sgst);
                        $parent.find('.cess_amount input').val(tax_amount_cess);
                        $parent.find('.gross_amount input').val(subtotal)

                        //calculate()
                        var all_total = 0;
                        var paid = 0;
                        $('.form_set_row').each(function () {
                            var tot = parseFloat($(this).find('.purchase_item_total input').val());

                            if (!tot) {
                                tot = 0;
                            }
                            all_total += tot;

                            $("#single_amount").val(tot);

                        });
                        var additional_amount = parseFloat($('#id_other_charge').val());

                        if (!additional_amount) {
                            additional_amount = 0;
                        }
                        net_total = parseFloat(all_total + additional_amount)
                        // $("#subtotal").val(net_total);

                        net_total = Math.round(net_total * 100) / 100;

                        var discount_rate = parseFloat($('#id_discount').val());

                        if (!discount_rate) {
                            discount_rate = 0;
                        }
                        discount_amound = all_total * discount_rate / 100;

                        var paid = $('#id_paid').val()
                        if (!paid) {
                            paid = 0;
                        }
                        purchase_sum = parseFloat(net_total - discount_amound)
                        var all_sub_total = parseFloat(all_total - discount_amound - paid + additional_amount);
                        if (all_sub_total < 0) {
                            all_sub_total = 0;
                        }
                        var all_sub_total_balnce = Math.round(all_sub_total)
                        $("#balance").val(all_sub_total_balnce);
                        $("#subtotal").val(purchase_sum);


                        if (barcode) {
                            $parent.find('.product_price select').val(pk).selectpicker('refresh')
                            // $parent.find('.product_price select').html(option).selectpicker('refresh')
                            // $parent.find('.product_price select=[data-pr').html(option).select();
                            // for (i = 0; i < maxlength; i++) {options += `<option value="${varience[i]['varience_pk']}">${varience[i]['varience_name']}</<option>`}
                            // $parent.find(".product_price select").html(options).selectpicker('refresh');

                            // $parent.find('.product_price select.product').html('<option value=' + pk + '>' + product_code +  '-' + name + '</option>');
                            // var title = '{{product_code}} - {{name}}'
                            // $parent.find('.product_price .select2.select2-container').addClass();
                            // $parent.find('.product_price select2 .select2-selection__rendered').attr('title',title);
                        } else {
                            $parent.find('.purchase_item_barcode input').val(product_code);
                        }
                        $('.discount_amound input').each(function () {
                            $(this).trigger('keyup')
                        })
                    }
                },
                error: function (data) {

                }
            })
        }
    }

    function get_product_variant_items(element, barcode = false) {
        var url = "{% url 'sales:get_product_variant_items' %}"
        var product_id = element.val();
        var $parent = element.parents('tr.form_set_row');
        var product_id = element.val();
        if (product_id == "") {
            product_id = $parent.find('.product_price select').val();
        }

        var code = "no";
        if (barcode) {
            code = "yes";
        }

        if (product_id != undefined || product_id != null || product_id != "") {
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id: product_id,
                    barcode: code,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == 'true') {
                        // var price = data['price'];
                        // var mrp = data['mrp'];
                        // var hsn = data['hsn'];
                        var gst = data['gst'];
                        var sgst = data['sgst'];
                        var cgst = data['cgst'];
                        var cess = data['cess'];
                        var cost = data['cost'];
                        var unit = data['unit'];
                        var hsn = data['hsn'];
                        var current_stock = data['stock'];
                        var product_code = data['product_code'];

                        $parent.find(".purchase_amount input").val(cost);
                        $parent.find(".current_stock input").val(current_stock);
                        $parent.find(".tax input").val(gst);
                        $parent.find(".sgst input").val(sgst);
                        $parent.find(".cgst input").val(cgst);
                        $parent.find(".cess input").val(cess);

                        $parent.find(".unit_type input").val(unit);
                        $parent.find(".product_hsn input").val(hsn);

                        // calculate()

                        var purchase_quantity = parseFloat($parent.find('.purchase_quantity input').val());
                        if (!purchase_quantity) {
                            purchase_quantity = 0
                        }

                        var purchase_amount = parseFloat(cost);
                        if (!purchase_amount) {
                            purchase_amount = 0
                        }
                        subtotal = purchase_quantity * purchase_amount;
                        var tax = parseFloat(gst);
                        var tax_amount = parseFloat($parent.find('.tax_amount input').val());
                        if (!tax) {
                            tax = 0;
                        }
                        if (!tax_amount) {
                            tax_amount = 0;
                        }
                        tax_amount = (subtotal * tax / 100);
                        total_amount = (subtotal + tax_amount);
                        $parent.find('.purchase_item_total input').val(total_amount);
                        $parent.find('.cgst_amount input').val(tax_amount);
                        $parent.find('.gross_amount input').val(subtotal)

                        //calculate()
                        var all_total = 0;
                        var paid = 0;
                        $('.form_set_row').each(function () {
                            var tot = parseFloat($(this).find('.purchase_item_total input').val());

                            if (!tot) {
                                tot = 0;
                            }
                            all_total += tot;

                            $("#single_amount").val(tot);

                        });
                        var additional_amount = parseFloat($('#id_other_charge').val());

                        if (!additional_amount) {
                            additional_amount = 0;
                        }
                        net_total = parseFloat(all_total + additional_amount);

                        net_total = Math.round(net_total * 100) / 100;

                        var discount_rate = parseFloat($('#id_discount').val());

                        if (!discount_rate) {
                            discount_rate = 0;
                        }
                        discount_amound = all_total * discount_rate / 100;

                        var paid = $('#id_paid').val()
                        if (!paid) {
                            paid = 0;
                        }
                        purchase_sum = parseFloat(net_total - discount_amound)
                        var all_sub_total = parseFloat(all_total - discount_amound - paid + additional_amount);
                        if (all_sub_total < 0) {
                            all_sub_total = 0;
                        }
                        var all_sub_total_balnce = Math.round(all_sub_total);
                        $("#balance").val(all_sub_total_balnce);
                        $("#subtotal").val(purchase_sum);


                        if (barcode) {
                            $parent.find('.product_variant select').val(pk).selectpicker('refresh');

                        } else {
                            $parent.find('.purchase_item_barcode input').val(product_code);
                        }
                        $('.discount_amound input').each(function () {
                            $(this).trigger('keyup')
                        })
                    }
                },
                error: function (data) {

                }
            })
        }
    }

    $(document).on('ready', function () {
        $('tr.form_set_row').each(function () {
            $this = $(this);
            var varient = $this.find('.product_variant select').val();
            if (varient == "") {
                get_product_items($this.find('.product_price select'))
            }
            get_product_variant_items($this.find('.product_variant select'));
        });
    });

</script>
{% if is_edit %}
<script>
    $(document).ready(function () {

        // $('.product_price select').trigger('change')


        $('.purchase_item_total input').each(function () {
            $(this).val($(this).attr('value'));
        });
        if ($('#id_add_gst').is(':checked')) {
            calculate(true);
        } else {
            calculate(false)
        }
        $('.product_price select').each(function () {

            var url = "{% url 'sales:get_product_items' %}"
            var product_id = $(this).val();
            var $parent = $(this).parents('tr.form_set_row');
            if (product_id != undefined || product_id != null || product_id != "") {
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'json',
                    data: {
                        id: product_id,
                    },
                    success: function (data) {
                        var status = data['status'];
                        if (status == 'true') {
                            var current_stock = data['stock'];
                            qty = $parent.find('.purchase_quantity input').val()
                            // $parent.find(".current_stock input").val(parseFloat(current_stock) + parseFloat(qty));
                            $parent.find(".current_stock input").val(parseFloat(current_stock) + parseFloat(qty));
                        }
                    },
                    error: function (data) { }
                });
            }
        });
    });
</script>
{% endif %}
{{ form.media }}
{{ purchase_item_formset.media }}


{% endblock %}